body{
    background-image: url(roosa.jpg) ;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
  
}
h2,table{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
    transform: rotate(-5deg);
    margin-top: 5%;
}
img{
    width: 5%;
    height: 5%;
}
